.custom-icon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    float: left;
    display: block;
}

.custom-icon.right {
    float: right;
}

.custom-icon.arrow-down {
    background: url(../img/arrow-down.png);
    background-size: cover;
    width: 16px;
    height: 16px;
    margin-top: 1px;
}

.custom-icon.shopping-card {
    background: url(../img/shopping-card.png);
    background-size: cover;
    width: 26px;
    height: 26px;
    margin-top: -3px;
}

.custom-icon.search {
    background: url(../img/search.png);
    background-size: cover;
    width: 24px;
    height: 24px;
    margin-top: -3px;
}