/* 
    color: d12b0b
    hover: a61f0a
*/

body {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    background-color: #fff;
}

*::-webkit-input-placeholder {
    color: #aaa;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: #aaa;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #aaa;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #aaa;
}

a, .btn-default {
    color: #666;
    border-color: #e5e5e5;
}

.btn-default:hover,
.btn-default:active,
.btn-default:focus {
    color: #666;
    border-color: #e5e5e5;
    background-color: #fff;
    outline: 0 !important;
    box-shadow: none !important;
}

.btn {
    border-radius: 1px !important;
}

.btn-link {
    color: #d12b0b;
}

.btn-link:hover {
    color: #a61f0a;
}

.form-control {
    border: 1px solid #e5e5e5 !important;
    border-radius: 1px !important;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #d12b0b;
}

.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover,
.open>.dropdown-toggle.btn-default.focus,
.open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-default:hover {
    color: #666;
    background-color: #fff;
    border-color: #d12b0b;
}

.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover,
.open > .dropdown-toggle.btn-default {
    color: #666;
    background-color: #fff;
    border-color: #d12b0b;
}

header {
    position: relative;
    z-index: 1002;
}

header > .container > .row {
    padding: 20px 0 18px;
}

header .search-control {
    height: 40px;
}

header .btn-category,
header .btn-category:active,
header .btn-category:focus,
header .btn-category:hover {
    text-align: left;
    height: 40px;
    width: 150px;
    color: #aaa;
    border-right: 1px solid #e5e5e5 !important;
}

.btn-category.active.focus,
.btn-category.active:focus,
.btn-category.active:hover,
.btn-category:active.focus,
.btn-category:active:focus,
.btn-category:active:hover,
.open > .dropdown-toggle.btn-category {
    height: 40px;
    width: 150px;
    color: #aaa;
    border-right: 1px solid #d12b0b !important;
    border-top-right-radius: 1px !important;
    border-bottom-right-radius: 1px !important;
}

header .btn-search,
header .btn-search:focus {
    height: 40px;
    width: 50px;
    margin-left: 1px !important;
    background-color: #fff !important;
    color: #d12b0b !important;
    border-color: transparent !important;
}

header .btn-search:hover,
header .btn-search:active {
    height: 40px !important;
    width: 50px !important;
    margin-left: 1px !important;
    background-color: #fff !important;
    color: #d12b0b !important;
    border-color: transparent !important;
}

header .account-btn {
    font-size: 13px;
    font-weight: 400;
}

header .cart-btn > button,
header .cart-btn > button:focus{
    width: 170px;
    height: 54px;
    font-size: 15px;
    font-weight: 600;
    color: #d12b0b !important;
    background-color: #fff !important;
    border: 1px solid #f3f3f3 !important;
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15) !important;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15) !important;
}

header .cart-btn > button:hover,
header .cart-btn > button:active{
    width: 170px;
    height: 54px;
    font-size: 15px;
    font-weight: 600;
    color: #a61f0a;
    background-color: #fff !important;
    border: 1px solid #f3f3f3 !important;
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4) !important;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4) !important;
}

.navbar {
    min-height: inherit;
    background: #fff;
    border: 0;    
    border-top: 1px solid #f3f3f3;
}
.navbar .navbar-nav > li > a {
    font-size: 17px;
    font-weight: 600;
    color: #777;
    text-transform: uppercase;
    padding: 16px;
}

.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:focus,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > li > a:focus,
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:focus,
.navbar .navbar-nav > .open > a:hover {
    background-color: #fff !important;
    color: #e32f13;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.shadow-navbar {
    position: relative;
    z-index: 1000;
    margin-bottom: 0;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.02);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.02);
}

footer {
    font-size: 13px;
    margin-top: 15px;
    color: #bababa;
    background: url(../img/footer-bg.png) no-repeat center center;
    background-size: 50% 100%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
footer .container {
    padding-top: 40px;
    padding-bottom: 40px;
}
footer ul {
    line-height: 1.7;
    padding: 0;
    list-style: none;
}
footer ul li a {
    color: #12a8ec;
    font-size: 11px;
    font-weight: 500;
}
footer .copyright {
    padding: 10px;
    color: #666;
    background-color: #fff;
}
footer footer-icon span i {
    line-height: 2;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    margin-bottom: 5px;
    text-align: center;
    border: 1px solid #a3a3a3;
    border-radius: 100%;
}

footer ul li a:hover {
    color: #26a69a;
}

footer .title-footer {
    font-size: 18px;
    font-weight: 200;
    line-height: 1;
    margin: 10px 0;
    padding: 10px 0;
}
footer .title-footer > span {
    display: inline-block;
    color: #d12b0b;
}

footer .subscribe-button {
    color: #fff;
    border-color: #fff;
    background-color: #d12b0b;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}
footer .subscribe-button:active, footer .subscribe-button:focus {
    color: #fff;
    border-color: #fff;
    outline: 0;
    background-color: #c82500;
}

@media (max-width: 992px) {
    .navbar .navbar-nav > li > a {
        padding-left: 8px;
        padding-right: 8px;
    }
}

@media (min-width: 768px) {
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
}

@media (min-width: 1240px) {
  .container {
    width: 1220px;
   }
}