body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fcfcfc;
}

body,
a,
.btn-default {
    color: #666;
}

.btn {
    border-radius: 2px;
}

.dropdown-menu {
    font-size:14px;
    border:1px solid #e0e1e2;
    box-shadow:0 4px 10px rgba(0, 0, 0, 0.33);
    border-radius:2px;
}
.dropdown-menu > li > a {
    color: #666;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #d12b0b;
    color: #fff;
}

.form-control {
    border-radius: 2;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

input[type=checkbox],
input[type=radio] {
    display: none;
}
input[type=checkbox] + span::before,
input[type=radio] + span::before {
    font-family: 'fontAwesome';
    font-size: 12px;
    line-height: 14px;
    position: relative;
    top: -1px;
    display: inline-block;
    width: 16px;
    margin-right: 2px;
    margin-left: -20px;
    content: '\a0';
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 0;
    background-color: #fff;
}
input[type=checkbox]:checked + span::before,
input[type=radio]:checked + span::before {
    content: '\f00c';
    color: #666;
}

input[type=radio] {
    display: none;
}
input[type=radio] + span::before {
    font-size: 9px;
    margin-right: 4px;
    border-radius: 100%;
}
input[type=radio]:checked + span::before {
    content: '\f111';
    color: #666;
}

.title {
    font-size: 18px;
    line-height: 1;
    margin: 0 0 10px;
    padding: 0;
}
.title > span {
    display: inline-block;
    margin-bottom: -3px;
    padding-bottom: 10px;
    color: #666;
}
.title > span > a {
    color: #666;
}

.label {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.25;
    display: inline-block;
    height: 20px;
    border-radius: 2px;
}

.label.arrowed {
    position: relative;
    z-index: 1;
    display: inline-block;
    height: 20px;
    margin-left: 5px;
}
.label.arrowed:before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: -10px;
    display: inline-block;
    content: '';
    border: 1px solid transparent;
    border-width: 10px 5px;
}

.label.arrowed-right {
    position: relative;
    z-index: 1;
    display: inline-block;
    height: 20px;
    margin-right: 5px;
}
.label.arrowed-right:after {
    position: absolute;
    z-index: -1;
    top: 0;
    right: -10px;
    display: inline-block;
    content: '';
    border: 1px solid transparent;
    border-width: 10px 5px;
}

.label-default.arrowed:before {
    border-right-color: #777;
}

.label-default.arrowed-right:after {
    border-left-color: #777;
}

.label-primary.arrowed:before {
    border-right-color: #337ab7;
}

.label-primary.arrowed-right:after {
    border-left-color: #337ab7;
}

.label-success.arrowed:before {
    border-right-color: #5cb85c;
}

.label-success.arrowed-right:after {
    border-left-color: #5cb85c;
}

.label-info.arrowed:before {
    border-right-color: #5bc0de;
}

.label-info.arrowed-right:after {
    border-left-color: #5bc0de;
}

.label-warning.arrowed:before {
    border-right-color: #f0ad4e;
}

.label-warning.arrowed-right:after {
    border-left-color: #f0ad4e;
}

.label-danger.arrowed:before {
    border-right-color: #d9534f;
}

.label-danger.arrowed-right:after {
    border-left-color: #d9534f;
}

.tooltip-inner {
    border-radius: 2;
}

.bootstrap-select .dropdown-toggle {
    border-radius: 2;
}
.bootstrap-select .dropdown-toggle:active, .bootstrap-select .dropdown-toggle:hover, .bootstrap-select .dropdown-toggle:focus {
    border-color: #ccc;
    outline: 0 !important;
    background-color: #eee;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.bootstrap-select.btn-group .dropdown-menu li a:focus {
    outline: 0;
}

.bootstrap-select.open .dropdown-toggle {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #eee;
}
.bootstrap-select.open .dropdown-toggle:hover {
    background-color: #eee;
}

.bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-up {
    border-top-right-radius: 0;
}
.bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-down {
    border-bottom-right-radius: 0;
}

.img-thumbnail {
    border-radius: 0;
}

.panel-group .panel {
    border-radius: 0;
}

.list-group-nav .list-group-item {
    padding-left: 10px;
    border: 0;
    border-bottom: 1px dotted #ccc;
    background: transparent;
}

.alert {
    border-radius: 0;
}

.nav-pills > li > a {
    border-radius: 0;
}

.first-header {
    position: relative;
    z-index: 1002;
}
.first-header ul.list-inline {
    margin-bottom: 0;
}
.first-header ul.list-inline > li {
    float: left;
    margin: 0;
    padding: 0;
}
.first-header ul.list-inline > li .dropdown-toggle {
    border-radius: 0;
    background-color: transparent;
}
.first-header ul.list-inline > li .dropdown-toggle:focus {
    outline: none !important;
}
.first-header ul.list-inline > li > a,
.first-header ul.list-inline > li .dropdown-toggle {
    display: block;
    padding: 5px 7px;
}
.first-header ul.list-inline > li > a:hover, .first-header ul.list-inline > li > a:active,
.first-header ul.list-inline > li .dropdown-toggle:hover,
.first-header ul.list-inline > li .dropdown-toggle:active {
    text-decoration: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.first-header ul.list-inline > li .dropdown.open > .dropdown-toggle,
.first-header ul.list-inline > li .bootstrap-select.open > .dropdown-toggle {
    text-decoration: none;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}
.first-header ul.list-inline > li .dropdown-toggle img,
.first-header ul.list-inline > li .dropdown-menu img {
    margin-bottom: 2px;
}
.first-header ul.list-inline > li .dropdown-menu-login {
    line-height: 1.4;
    min-width: 230px;
    padding: 10px;
}
.first-header ul.list-inline > li .dropdown-menu-login button {
    border-radius: 2px;
    background-color: #d12b0b;
    color: #fff;
}

.second-header {
    background-color: #fff;
    position: relative;
    z-index: 1001;
}
.second-header > .container > .row {
    padding: 15px 0 5px;
}
.second-header .search-box input[type="text"]:focus {
    z-index: 4;
}
.second-header .search-box .bootstrap-select {
    z-index: 3;
}
.second-header .search-box .bootstrap-select > .dropdown-toggle,
.second-header .search-box .bootstrap-select > .dropdown-menu {
    margin-left: -1px;
}
.second-header .btn-search {
    z-index: 3 !important;
}
.second-header .cart-btn > button {
    float: right;
    color: #666;
    border-color: #fff;
    border-radius: 2;
    background-color: #fff;
}
.second-header .cart-btn > button:hover {
    background-color: #fff;
}
.second-header .cart-btn > button:active {
    outline: 0;
    background-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.second-header .cart-btn > .dropdown-menu {
    right: 15px;
    overflow-y: auto;
    max-height: 400px;
    padding: 10px;
}
.second-header .cart-btn .media {
    margin-top: 10px;
}
.second-header .cart-btn .media:first-child {
    margin-top: 0;
}
.second-header .cart-btn .media-body a {
    font-size: 13px;
    display: block;
    margin-bottom: 0;
}
.second-header .cart-btn .media-right a {
    color: #aaa;
}
.second-header .cart-btn .media-right a:hover {
    color: #ef5350;
}
.second-header .cart-btn .media-body div,
.second-header .cart-btn .subtotal-cart span {
    font-size: 13px;
    color: #ef5350;
}
.second-header .cart-btn .subtotal-cart {
    margin: 10px 0;
    padding: 10px 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}
.second-header .cart-btn.open > button {
    color: #666 !important;
    background-color: #e7e7e7 !important;
}

.second-header .btn-search {
    color: #fff;
    border-color: transparent;
    background-color: #d12b0b;
}
.second-header .btn-search:active, .second-header .btn-search:focus {
    color: #fff;
    border-color: transparent;
    outline: 0;
    background-color: #c82500;
}

.second-header .btn-category {
}
.second-header .btn-category:active, .second-header .btn-category:focus {
    border-color: #d12b0b !important;
    background-color: #fff !important;
}
.second-header .btn-category:hover {
    background-color: #fff !important;
    border-color: #ccc;
}

.second-header .cart-btn > button:hover {
    border-color: #d12b0b;
}
.second-header .cart-btn.open > button {
    background-color: #fff !important;
    border-color: #d12b0b !important;
}

.navbar {
    min-height: inherit;
    border: 0;
    background-color: #fff;
    /*background-color: #f2f2f2;*/
}
.navbar .navbar-nav > li > a {
    font-size:14px;
    font-weight: 800;
    text-transform: uppercase;
    padding-top: 8px;
    padding-bottom: 8px;
}
.navbar .navbar-toggle {
    float: left;
    margin-right: 0;
    margin-left: 15px;
    padding: 5px 7px;
    border-radius: 0;
    background-color: #f8f3f2;
}
.navbar .btn-cart-xs {
    font-size: 13px;
    margin-top: 3px;
    margin-right: 15px;
    padding: 8px 25px;
    color: #666;
    background-color: #f8f3f2;
}

.shadow-navbar {
    position: relative;
    z-index: 1000;
    margin-bottom: 0;
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.box-product-outer {
    margin-bottom: 5px;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 0;
    /* &:hover {
      @include box-shadow(0 6px 12px rgba(0, 0, 0, .175));
    } */
}

.box-product .img-wrapper {
    position: relative;
    overflow: hidden;
}
.box-product .img-wrapper > :first-child {
    position: relative;
    display: block;
}
.box-product .img-wrapper > a > img {
    width: 100%;
}
.box-product .img-wrapper .tags {
    position: absolute;
    top: 0;
    right: 0;
    display: table;
    overflow: visible;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    vertical-align: inherit;
    border-width: 0;
    background-color: transparent;
    direction: rtl;
}
.box-product .img-wrapper .tags > .label-tags {
    display: table;
    margin: 0 -1px 1px 0;
    text-align: left;
    opacity: .80;
    filter: alpha(opacity=80);
    direction: ltr;
}
.box-product .img-wrapper .tags > .label-tags:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}
.box-product .img-wrapper .tags > .label-tags a:hover {
    text-decoration: none;
}
.box-product .img-wrapper .tags-left {
    left: 0;
    direction: ltr;
}
.box-product .img-wrapper > .option {
    position: absolute;
    top: auto;
    right: 0;
    bottom: -30px;
    left: 0;
    width: auto;
    height: 28px;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    text-align: center;
    vertical-align: middle;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.55);
}
.box-product .img-wrapper > .option > a {
    font-size: 18px;
    font-weight: normal;
    display: inline-block;
    padding: 0 4px;
    color: #fff;
}
.box-product .img-wrapper > .option > a:hover {
    color: #9E9E9E;
}
.box-product .img-wrapper > .option > a.wishlist:hover {
    color: #ef5350;
}
.box-product h6 a {
    font-size: 13px;
    line-height: 1.4;
    display: block;
}
.box-product:hover .img-wrapper > .option {
    bottom: 0;
}

.price {
    margin-bottom: 5px;
    color: #ef5350;
}

.price-old {
    position: relative;
    display: inline-block;
    margin-right: 7px;
    color: #666;
}
.price-old:before {
    position: absolute;
    width: 100%;
    height: 60%;
    content: '';
    border-bottom: 1px solid #666;
}

.rating i {
    color: #ffc107;
}

.footer {
    font-size: 13px;
    margin-top: 15px;
    color: #bababa;
    background-color: #373939;
}
.footer ul {
    line-height: 1.7;
    padding: 0;
    list-style: none;
}
.footer ul li a {
    color: #bababa;
}
.footer .copyright {
    padding: 10px;
    color: #bababa;
    background-color: #202222;
    border-top: 2px solid #d12b0b;
}
.footer .footer-icon span i {
    line-height: 2;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    margin-bottom: 5px;
    text-align: center;
    border: 1px solid #a3a3a3;
    border-radius: 100%;
}
.footer .follow-us {
    display: inline-block;
}
.footer .follow-us li {
    float: left;
}
.footer .follow-us li a {
    font-size: 20px;
    line-height: 2;
    display: block;
    width: 40px;
    height: 40px;
    margin: 10px 10px 0 0;
    text-align: center;
    border: 1px solid #a3a3a3;
    border-radius: 100%;
    -webkit-transition: all 0.1s ease 0s;
    -o-transition: all 0.1s ease 0s;
    transition: all 0.1s ease 0s;
}
.footer .subscribe-button {
    font-size: 13px;
    height: 32px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.footer input[type="text"] {
    height: 32px;
    border-color: transparent;
}
.footer input[type="text"]:focus {
    z-index: 2;
    border-color: transparent;
}

.title-footer {
    font-size: 18px;
    line-height: 1;
    margin: 10px 0;
    padding: 10px 0;
    border-bottom: 1px solid #bababa;
}
.title-footer > span {
    display: inline-block;
    color: #bababa;
}

.back-top {
    position: fixed;
    z-index: 999;
    right: 0;
    bottom: 0;
    display: none;
    width: 30px;
    height: 23px;
    color: #fff;
    background-color: #202222;
}
.back-top:hover, .back-top:focus, .back-top:active {
    color: #fff;
}
.back-top:hover {
    background-color: #373939;
    -webkit-transition: all 100ms ease-in-out 0s;
    -o-transition: all 100ms ease-in-out 0s;
    transition: all 100ms ease-in-out 0s;
}

.product-sorting-bar {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 0;
}
.product-sorting-bar > div {
    float: left;
    padding: 10px;
}

.pagination > li > a,
.pagination > li > span {
    color: #666;
    border-bottom: 2px solid #d6d8d9;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.pager > li > a,
.pager > li > span {
    color: #666;
    border-bottom: 2px solid #d6d8d9;
    border-radius: 0;
}

.input-qty {
    width: 150px;
}

.table-cart .img-cart {
    width: 77px;
}
.table-cart .img-cart img {
    width: 50px;
}
.table-cart small {
    display: block;
}
.table-cart .unit,
.table-cart .sub,
.table-cart .action {
    width: 100px;
}

.bootstrap-touchspin .bootstrap-touchspin-prefix {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.testimonial {
    font-size: 14.5px;
}

.table-compare {
    text-align: center;
}
.table-compare tbody tr td:first-child,
.table-compare .compare-product {
    background-color: #f8f8f8;
}
.table-compare tbody tr td:first-child {
    text-align: left;
}

.image-detail {
    margin-bottom: 10px;
}
.image-detail img {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 0;
}

.title-detail {
    font-size: 20px;
    line-height: 1;
    margin-bottom: 20px;
}

.table-detail tr td {
    vertical-align: middle !important;
}
.table-detail tr td:first-child {
    width: 150px;
}
.table-detail tr td:first-child::after {
    float: right;
    content: ':';
}
.table-detail tr:last-child td:first-child::after {
    content: '';
}

.nav-tabs > li > a {
    border-radius: 0 0 0 0;
}
.nav-tabs > li > a:focus, .nav-tabs > li > a:active {
    outline: 0;
}

@keyframes pull_down {
    0% {
        top: -65px;
    }
    100% {
        top: 0;
    }
}
@-moz-keyframes pull_down {
    0% {
        top: -65px;
    }
    100% {
        top: 0;
    }
}
@-webkit-keyframes pull_down {
    0% {
        top: -65px;
    }
    100% {
        top: 0;
    }
}
@-o-keyframes pull_down {
    0% {
        top: -65px;
    }
    100% {
        top: 0;
    }
}
@-ms-keyframes pull_down {
    0% {
        top: -65px;
    }
    100% {
        top: 0;
    }
}
.btn-theme {
    color: #fff;
    background-color: #d12b0b;
    border-color: #cc2809;
}
.btn-theme:focus, .btn-theme.focus {
    color: #fff;
    background-color: #00635a;
    border-color: #000a09;
}
.btn-theme:hover {
    color: #fff;
    background-color: #00635a;
    border-color: #004c44;
}
.btn-theme:active, .btn-theme.active, .open > .btn-theme.dropdown-toggle {
    color: #fff;
    background-color: #00635a;
    border-color: #004c44;
}
.btn-theme:active:hover, .btn-theme:active:focus, .btn-theme:active.focus, .btn-theme.active:hover, .btn-theme.active:focus, .btn-theme.active.focus, .open > .btn-theme.dropdown-toggle:hover, .open > .btn-theme.dropdown-toggle:focus, .open > .btn-theme.dropdown-toggle.focus {
    color: #fff;
    background-color: #003f39;
    border-color: #000a09;
}
.btn-theme:active, .btn-theme.active, .open > .btn-theme.dropdown-toggle {
    background-image: none;
}
.btn-theme.disabled:hover, .btn-theme.disabled:focus, .btn-theme.disabled.focus, .btn-theme[disabled]:hover, .btn-theme[disabled]:focus, .btn-theme[disabled].focus, fieldset[disabled] .btn-theme:hover, fieldset[disabled] .btn-theme:focus, fieldset[disabled] .btn-theme.focus {
    background-color: #d12b0b;
    border-color: #cc2809;
}
.btn-theme .badge {
    color: #d12b0b;
    background-color: #fff;
}

.form-control:focus {
    border-color: #d12b0b;
}

input[type=checkbox]:checked + span::before,
input[type=radio]:checked + span::before {
    color: #d12b0b;
}

.title {
    border-bottom: 3px solid #cb9280;
}
.title span {
    border-bottom: 3px solid #cc2809;
}

.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select.open .dropdown-toggle,
.bootstrap-select.open .dropdown-toggle:hover {
    border-color: #d12b0b;
}

.img-thumbnail:hover {
    border-color: #d12b0b;
}

.first-header {
    background-color: #d12b0b;
}
.first-header ul.list-inline > li > a,
.first-header ul.list-inline > li .dropdown-toggle {
    color: #fff;
    border-color: #d12b0b;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}
.first-header ul.list-inline > li > a:hover, .first-header ul.list-inline > li > a:active,
.first-header ul.list-inline > li .dropdown-toggle:hover,
.first-header ul.list-inline > li .dropdown-toggle:active {
    border-color: #cc2809;
    background-color: #cc2809;
}
.first-header ul.list-inline > li .dropdown.open > .dropdown-toggle,
.first-header ul.list-inline > li .bootstrap-select.open > .dropdown-toggle {
    color: #efefef;
    border-color: #c82500;
    background-color: #c82500;
}

.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:focus,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > li > a:focus,
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:focus,
.navbar .navbar-nav > .open > a:hover {
    background-color: #fff !important;
    color: #d12b0b;
}
.navbar .navbar-toggle:active, .navbar .navbar-toggle:focus, .navbar .navbar-toggle:hover,
.navbar .btn-cart-xs:active,
.navbar .btn-cart-xs:focus,
.navbar .btn-cart-xs:hover {
    border-color: #d12b0b;
}
.navbar .navbar-feature > li > a:focus,
.navbar .navbar-feature > li > a:hover {
    color: #777 !important;
    background-color: inherit;
}

.box-product-outer:hover {
    border: 1px solid #d12b0b;
}

.brand-slider .brand:hover {
    border-color: #d12b0b;
}

.footer ul li a:hover {
    color: #26a69a;
}
.footer .subscribe-button {
    color: #fff;
    border-color: #fff;
    background-color: #d12b0b;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}
.footer .subscribe-button:active, .footer .subscribe-button:focus {
    color: #fff;
    border-color: #fff;
    outline: 0;
    background-color: #c82500;
}

.follow-us li a:hover {
    color: #fff !important;
    border: 1px solid #fff;
    background-color: #d12b0b;
}

.filter-sidebar ul li a.remove-filter:hover {
    color: #d12b0b;
}

.noUi-target .noUi-connect {
    background-color: #d12b0b;
}

.blog-list:hover {
    border-color: #d12b0b;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #d12b0b;
}

.breadcrumb-container .breadcrumb > li > a {
    color: #d12b0b;
}

.sidebar-nav .metismenu a:hover,
.sidebar-nav .metismenu a:focus,
.sidebar-nav .metismenu a:active,
.sidebar-nav .metismenu li.active > a,
.sidebar-nav .metismenu a.active {
    color: #fff;
    background-color: #d12b0b;
}

.sidebar-nav ul {
    background-color: #e0f2f1;
}

.alert-color {
    color: #666;
    border-color: #cb9280;
    background-color: #e0f2f1;
}

@media (max-width: 992px) {
    .logo {
        text-align: center;
    }
    .logo img {
        display: inherit;
    }
}
@media (min-width: 768px) {
    .second-header .btn-search {
        margin-left: -2px !important;
    }

    .navbar .navbar-collapse {
        position: relative;
        padding-right: 0;
        padding-left: 0;
    }
}
@media (max-width: 768px) {

    .input-qty .bootstrap-touchspin {
        width: 115px;
    }

    .table-compare > tbody > tr > td {
        white-space: inherit !important;
    }
}
@media (max-width: 480px) {
    .box-product-outer {
        padding: 0 !important;
    }
    .box-product-outer:hover {
        border-color: transparent;
    }

    .box-product .img-wrapper > .option {
        bottom: 0;
    }
    
    .navbar {
        min-height: inherit;
        border: 0;
        background-color: #fff;
        /*background-color: #f2f2f2;*/
    }
}