/* 
    background: fff
    color: c4c418(196, 196, 24), active: b7b711(183, 183, 17)
    color2: edca92
*/

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
}

a, .btn-default {
}

.btn,
.btn:hover,
.btn:active,
.btn:focus {
    outline: 0 !important;
    box-shadow: none !important;
    border-radius: 5px !important;
}

h1 {
    font-family: Poiret One;
    font-size: 4.25em;
    color: #222;
    border: 0px solid transparent;
}

a {
  color: #c4c418;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #adad15;
  text-decoration: underline;
}
a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.text-primary {
  color: #c4c418;
}

.bg-primary {
  color: #fff;
  background-color: #c4c418;
}
a.bg-primary:hover,
a.bg-primary:focus {
  background-color: #979712;
}

.form-control:focus {
  border-color: #c4c418;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(196, 196, 24, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(196, 196, 24, 0.6);
}

.btn-primary {
  color: #ffffff;
  background-color: #c4c418;
  border-color: #adad15;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff;
  background-color: #979712;
  border-color: #3c3c07;
}
.btn-primary:hover {
  color: #ffffff;
  background-color: #979712;
  border-color: #77770f;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #979712;
  border-color: #77770f;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #ffffff;
  background-color: #77770f;
  border-color: #3c3c07;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
  background-color: #c4c418;
  border-color: #adad15;
}
.btn-primary .badge {
  color: #c4c418;
  background-color: #ffffff;
}

.btn-link {
  color: #c4c418;
  font-weight: normal;
  border-radius: 0;
}
.btn-link,
.btn-link:active,
.btn-link.active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
}
.btn-link:hover,
.btn-link:focus {
  color: #adad15;
  text-decoration: underline;
  background-color: transparent;
}
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #777777;
  text-decoration: none;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #c4c418;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #eeeeee;
  border-color: #c4c418;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #ffffff;
  background-color: #c4c418;
}

.label-primary {
  background-color: #c4c418;
}
.label-primary[href]:hover,
.label-primary[href]:focus {
  background-color: #979712;
}

.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
  color: #c4c418;
  background-color: #ffffff;
}

a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: #c4c418;
}

.progress {
  overflow: hidden;
  height: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.progress-bar {
  float: left;
  width: 0%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  background-color: #c4c418;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}
.progress-striped .progress-bar,
.progress-bar-striped {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 40px 40px;
}
.progress.active .progress-bar,
.progress-bar.active {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}
.progress-bar-success {
  background-color: #5cb85c;
}
.progress-striped .progress-bar-success {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-bar-info {
  background-color: #5bc0de;
}
.progress-striped .progress-bar-info {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-bar-warning {
  background-color: #f0ad4e;
}
.progress-striped .progress-bar-warning {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-bar-danger {
  background-color: #d9534f;
}
.progress-striped .progress-bar-danger {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  z-index: 2;
  color: #ffffff;
  background-color: #c4c418;
  border-color: #c4c418;
}

.panel-primary {
  border-color: #c4c418;
}
.panel-primary > .panel-heading {
  color: #ffffff;
  background-color: #c4c418;
  border-color: #c4c418;
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #c4c418;
}
.panel-primary > .panel-heading .badge {
  color: #c4c418;
  background-color: #ffffff;
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #c4c418;
}


.btn-lacave-add { 
    position: relative;
    top: 1px;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    float: left;
    background: url(../img/icons/add-32.png);
    background-size: cover;
    width: 12px;
    height: 12px;
    margin-top: 4px;
    margin-bottom: 0px;
    margin-left: 2px;
    margin-right: 8px;
} 

.btn-lacave-remove { 
    position: relative;
    top: 1px;
    display: none;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    float: right;
    background: url(../img/icons/remove-32.png);
    background-size: cover;
    width: 10px;
    height: 10px;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 8px;
    margin-right: 2px;
} 

.btn-lacave.active .btn-lacave-add {
    display: none;
}

.btn-lacave.active .btn-lacave-remove {
    display: inline-block;
}

.btn-lacave { 
  color: #222; 
  background-color: #f9f9f9; 
  border-color: #f9f9f9;
  border-radius: 40px !important;
} 
 
.btn-lacave:hover, 
.btn-lacave:focus, 
.btn-lacave:active, 
.btn-lacave.active, 
.open .dropdown-toggle.btn-lacave { 
  color: #000; 
  background-color: #f9f9f9; 
  border-color: #f9f9f9;
  border-radius: 40px !important;
} 
 
.btn-lacave:active, 
.btn-lacave.active, 
.open .dropdown-toggle.btn-lacave { 
  background-image: none; 
  color: #c4c418; 
  background-color: #fff; 
  border-color: #c4c418; 
  border-radius: 40px !important;
} 

.btn-lacave:active:hover, 
.btn-lacave.active:hover { 
  border-color: #979712;
  color: #979712;
} 
 
.btn-lacave .badge { 
  color: #C47718; 
  background-color: #fff; 
}

.lacave-panel {
  background-color: #fff;
  border: 1px solid #f9f9f9;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  margin-bottom: 8px !important;
}

.lacave-panel > .lacave-heading {
    padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #333333;
  background-color: #f9f9f9;
  border-color: #f9f9f9;
}

.lacave-panel > .lacave-heading a {
    margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: #333333;
}

.lacave-panel ul {
    padding: 0;
    margin: 0;
}

.lacave-panel ul li {
    position: relative;
    display: block;
    padding: 0 0 0 18px;
    background-color: #fff; 
    border: 0;
}

.lacave-panel ul li a {
    display: inline-block;
    padding: 12px 12px;
    width: 90%;
    text-align: left;
    margin: 0;
    border: 0;
    background-color: transparent;
}

.lacave-panel ul li a:hover {
    background-color: transparent;
}

.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 0px solid transparent;
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  height: 34px;
  border-radius: 40px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #222222;
  background-color: #f9f9f9;
  border: 1px solid #f9f9f9;
  margin-left: -1px;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: #000000;
  background-color: #f9f9f9;
  border-color: #f9f9f9;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #c4c418;
  background-color: #ffffff;
  border-color: #c4c418;
  cursor: default;
}

.pagination > .active > a:hover,
.pagination > .active > span:hover {
    color: #979712;
    border-color: #979712;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777777;
  background-color: #f9f9f9;
  border-color: #f9f9f9;
  cursor: not-allowed;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

.menu-line {
    -webkit-box-shadow: none;
          box-shadow: none;
    border: 0;    
    border-top: 1px solid #ebebeb !important;
    border-radius: 0px;
    padding-top: 12px;
    margin-bottom: 0px;
}

.menu-line a {
    font-weight: 500;
    font-size: 16px;
}

.menu-line div {
    display: inline-block;
    padding: 0px 8px;
    text-align: center; 
    vertical-align: middle;
    margin-bottom: 12px;
}

.menu-line div .pagination {
    margin: 0;
}

.menu-line div .checkbox {
    display: inline-block;
    padding: 0px 8px;
    text-align: center; 
    vertical-align: middle;
    margin: 0;
}

.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-break: auto;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  font-size: 12px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.tooltip.in {
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.tooltip.top {
  margin-top: -3px;
  padding: 5px 0;
}
.tooltip.right {
  margin-left: 3px;
  padding: 0 5px;
}
.tooltip.bottom {
  margin-top: 3px;
  padding: 5px 0;
}
.tooltip.left {
  margin-left: -3px;
  padding: 0 5px;
}
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #ffffff;
  text-align: center;
  background-color: #c4c418;
  border-radius: 4px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #c4c418;
}
.tooltip.top-left .tooltip-arrow {
  bottom: 0;
  right: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #c4c418;
}
.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  left: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #c4c418;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #c4c418;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #c4c418;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #c4c418;
}
.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  right: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #c4c418;
}
.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  left: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #c4c418;
}

/* xs < 768 */
@media screen and (max-width: 767px) {
    body {
        font-size: 10px;
    }
    
    .quote {
        padding-top: 88px !important;
    }
    
    .footer .catchword {
        padding-top: 68px !important;
    }

}

/* sm */
@media screen and (min-width: 768px) {
    body {
        font-size: 12px;
    }
    
    .quote {
        padding-top: 78px !important;
    }
    
    .footer .catchword {
        padding-top: 58px !important;
    }
}

/* md */
@media screen and (min-width: 992px) {
    body {
        font-size: 14px;
    }
    
    .quote {
        padding-top: 60px !important;
    }
    
    .footer .catchword {
        padding-top: 48px !important;
    }
    
    .nav-name {
        display: none;
    }

}

/* lg */
@media screen and (min-width: 1440px) {
    body {
        font-size: 16px;
    }
    .container-wide {
        width: 1440px;
    }    

    .box-price > li a {
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.3333333;
    }
}