.custom-icon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    float: left;
    display: block;
}

.custom-icon.right {
    float: right;
}

.custom-icon.lacave-logo {
    background: url(../img/logo.png);
    background-size: cover;
    height: 24px;
    width: 92px;
    margin-top: -3px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
}

.custom-icon.lacave-contact {
    background: url(../img/icons/contact-64.png);
    background-size: cover;
    width: 16px;
    height: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 6px;
}

.custom-icon.lacave-glass {
    background: url(../img/icons/glass-64.png);
    background-size: cover;
    width: 16px;
    height: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 6px;
}

.custom-icon.lacave-home {
    background: url(../img/icons/home-64.png);
    background-size: cover;
    width: 16px;
    height: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 6px;
}

.custom-icon.lacave-menu {
    background: url(../img/icons/menu-64.png);
    background-size: cover;
    width: 16px;
    height: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 6px;
}

.custom-icon.lacave-pencil {
    background: url(../img/icons/pencil-64.png);
    background-size: cover;
    width: 16px;
    height: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 6px;
}

.custom-icon.lacave-user {
    background: url(../img/icons/user-64.png);
    background-size: cover;
    width: 16px;
    height: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 6px;
}

.custom-icon.lacave-shopping {
    background: url(../img/icons/shopping-64.png);
    background-size: cover;
    width: 16px;
    height: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 6px;
}

.custom-icon.lacave-shop-card {
    background: url(../img/icons/shop-card.png);
    background-size: cover;
    width: 22px;
    height: 22px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 8px;
}

.custom-icon.lacave-search {
    background: url(../img/icons/search-64.png);
    background-size: cover;
    width: 16px;
    height: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 6px;
}

.custom-icon.lacave-arrow-down {
    background: url(../img/icons/arrow-down-24.png);
    background-size: cover;
    width: 22px;
    height: 22px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}