/* 
    NAVBAR
*/

.navbar {
    min-height: inherit;
    background-color: #fff;
}

.navbar .navbar-brand {
    font-family: Poiret One;
    font-size: 24px;
    color: #000;
}

.icon-bar {
  background: #edca92 !important;
}

.navbar-toggle {
  background: #fff !important;
  margin-top: 6px;
  padding: 7px 8px !important;
}

.navbar-nav.navbar-center {
}

.navbar .navbar-nav > li > a {
    font-family: Poiret One;
    font-size: 18px;
    font-weight: bolder;
}

.navbar .navbar-nav > li > a small {
    color: #666;
    font-size: 11px;
    padding-left: 5px;
}

.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:focus,
.navbar .navbar-nav > .active > a:hover {
}

.navbar .navbar-nav > li > a:focus,
.navbar .navbar-nav > li > a:hover {
}

.navbar .navbar-nav > li > a:hover {
}

.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:focus,
.navbar .navbar-nav > .open > a:hover {
}

.navbar .navbar-nav {
}

.navbar .navbar-collapse {
  text-align: center;
}

.shadow-navbar {
    position: relative;
    z-index: 1000;
    margin-bottom: 0;
}

/* 
    HEADER
*/

.header {
    background: url('../img/header-first.png') no-repeat center top;    
    background-size: cover;
    width: 100%;
    height: 781px;
}

.header-close {
    margin: 0;
    width: 100%;
    height: 96px;
    background: url('../img/header-middle.png') no-repeat center top;    
    background-size: cover;
}

.bg-grey {
    position: absolute;
    min-height: 460px;
    background-color: rgba(0, 0, 0, 0.05);
    /*border: solid 5px #555;*/
}

.bg-pink {
    position: absolute;
    height: 300px;
    background-color: rgba(255, 0, 102, 0.1); /* For browsers that do not support gradients */
    background-color: -webkit-linear-gradient(top, rgba(255, 0, 102, 0.1), rgba(255, 0, 102, 0)); /* For Safari 5.1 to 6.0 */
    background-color: -o-linear-gradient(bottom, rgba(255, 0, 102, 0.1), rgba(255, 0, 102, 0)); /* For Opera 11.1 to 12.0 */
    background-color: -moz-linear-gradient(bottom, rgba(255, 0, 102, 0.1), rgba(255, 0, 102, 0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, rgba(255, 0, 102, 0.1), rgba(255, 0, 102, 0)); /* Standard syntax */
    /*border: solid 1px #f08;*/
}

.banner {
    display: inline-block;
    width: 100%;
    padding-top: 152px;
    height: 523px;
    /*border: solid 1px #000;*/
}

.banner h1 {
    color: #fff;
}

.banner ul {
    padding-top: 34px;
}

.banner input {
    margin-left: 15px;
    border-radius: 5px !important;
    padding-left: 40px;
    background-image: url('../img/icons/search-64.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 24px 24px;
    background-position-x: 10px;
    background-position-y: 10px;
}

.search {
    display: inline-block;
    width: 100%;
    height: 377px;
    padding-top: 5%;
    /*border: solid 1px #F00;*/
}

.search .row {
    padding-top: 3%;
}

.search button[type="button"] {
    margin-bottom: 10px;
    text-align: left;
    color: #aaa !important;
    border: 0;
    
}

.search button[type="submit"] {
    margin-bottom: 10px;
    border: 0;
    
}

.search .lacave-arrow-down {
  float: right;
}

.search ul {
    margin-top: -6px;
    margin-left: 14px;
}

.search ul li a {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
}

/* 
    PRODUCT INFO
*/

.product-intro {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 72px;
    width: 100%;
    background: url('../img/header-last.png') no-repeat center top;    
    background-size: 1920px 408px;
    border-bottom: solid 2px #f5f5f5;
}

.product-intro img {
    margin-top: 27%;
}

.product-intro h1 {
    margin-top: 40px;
    font-family: Poiret One;
    font-size: 34px;
    color: #000;
}

.product-intro p {
    margin-top: 10px;
    font-family: Poiret One;
    font-size: 14px;
    font-weight: bolder;
    color: #000;
}

.product-intro small {
    margin-top: 10px;
    font-family: Poiret One;
    font-size: 14px;
    color: #000;
}

.product-intro hr {
    border: 0;
    height: 1px;
    background: #ddd;
}

.product-intro .price-line {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    float: left;
    line-height: 0.7;    
    margin: 0;
    padding: 0;     
}

.product-intro .price-line > li {
    font-size: 1.3em;
    color: #444;
}

.product-intro .price-line > li.price {
    font-size: 2.3em;
    color: #444;
}

/* 
    INTRODUCTION
*/

.introduction {
    margin-top: 50px;
    width: 100%;
    text-align: center;
}

.introduction .intro {
    margin-top: 22px;
}

.introduction .intro h1 {
    font-family: Poiret One;
    font-size: 36px;
    color: #000;
}
.introduction .intro p {
    font-family: Poiret One;
    font-size: 14px;
    font-weight: bolder;
    color: #000;
}

.introduction .intro img {
    height: 56px;
    width: auto;
    display: block;
    margin: 0 auto;
}

/* 
    QUOTE
*/

.quote {
    margin-top: 72px;
    width: 100%;
    height: 281px;
    background: url('../img/subheader-image.png') no-repeat center top;    
    background-size: cover;
    text-align: center;
}

.quote p {
    font-family: Poiret One;
    font-size: 3.250em;
    color: #fff;
    display: inline-block;
}

/* 
    MAP
*/

.map {
    margin-top: 72px;
    width: 100%;
    height: 326px;
    background: url('../img/map-image.png') no-repeat center top;    
    background-size: cover;
}

/* 
    PRODUCT
*/

.product {
    margin-top: 18px;
    margin-bottom: 18px;
}

.product .product-box {
    padding: 15px;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    text-align: center;
}

.product .product-box .img-wrapper {
    position: relative;
    overflow: hidden;
}

.product .product-box .img-wrapper .tag-first {
    position: absolute;
    top: 0;
    left: 0;
    display: table;
    overflow: visible;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    vertical-align: inherit;
    border-width: 0;
    background-color: transparent;
    direction: ltr;
}

.product .product-box .img-wrapper .tag-second {
    position: absolute;
    top: 40px;
    left: 0;
    display: table;
    overflow: visible;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    vertical-align: inherit;
    border-width: 0;
    background-color: transparent;
    direction: ltr;
}

.product .product-box .img-wrapper .tag-first img {
    width: auto;
    height: 26px;
    display: block;
    margin: 0 4px;
}

.product .product-box .img-wrapper .tag-second img {
    width: auto;
    height: 26px;
    display: block;
    margin: 0;
}

.product .product-box h1 {
    margin: 0;
    margin-bottom: 14px;
    font-family: Poiret One;
    font-size: 1.0em;
    font-weight: 600;
    color: #222;
}

.product .product-box h2 {
    margin: 0;
    margin-bottom: 14px;
    font-family: Poiret One;
    font-size: 1.75em;
    font-weight: 500;
    color: #222;
}

.product .product-box p {
    margin: 0;
    font-size: 1.85em;
    color: #555;
    font-weight: bolder;
}

.product ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 0.7;   
    margin-top: 10px; 
}

.product ul > li {
    font-size: 19px;
    color: #444;
}

/* 
    FOOTER
*/

.navigation-footer {
    font-size: 13px;
    margin-top: 72px;
    background-color: #fff;
}

.navigation-footer .title-footer {
    padding-bottom: 8px;
}

.navigation-footer .title-footer span {
    font-family: Poiret One;
    font-size: 38px;
    color: #000;
}

.navigation-footer ul {
    padding: 0;
    list-style: none;
}
.navigation-footer ul li a {
    font-family: Poiret One;
    font-size: 18px;
    color: #000;
    padding-left: 0 !important;
    line-height: 1.2;
}

.footer {
    margin-top: 72px;
    width: 100%;
    height: 228px;
}

.footer .catchword {
    height: 182px;
    width: 100%;
    margin-top: 46px;
    background: url('../img/footer-image.png') no-repeat center top;    
    background-size: cover;
    text-align: center;
}

.footer .catchword p {
    font-family: Poiret One;
    font-size: 4.250em;
    color: #fff;
    display: inline-block;
}

.footer .copyright {
    height: 46px;
    padding-top: 12px;
    background-color: #c4c418;
    text-align: center;
}

.footer .copyright p {
    font-size: 18px;
    color: #fff;
}